.app-container {
  box-sizing: border-box;
  /* max-width: 1280px; */

  height: 100dvh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
}
